<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Python Mysql CRUD</title>

    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">

</head>
<body>

<nav class="navbar bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="Logo" width="30" height="24"
                 class="d-inline-block align-text-top">
            Bootstrap
        </a>
    </div>
</nav>

</body>
</html>